html {
  scrollbar-color: #C1C8D5 transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: #C1C8D5;
  border-radius: 15px;
  border: 2px solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea5b2;
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
   padding: 3%;
   margin: 3% 25%;
}

@media only screen and (max-width: 992px) {
  .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    margin: 0%;
 } }
